<div class="relative">
  <div [formGroup]="form">
    <select [formControlName]="LdformControlName" class="{{ Ldclass }}">
      <option *ngFor="let opt of Ldoptions" [value]="opt.key">
        {{ opt.value }}
      </option>
    </select>
  </div>
  <span
    class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center"
  >
    <svg
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      class="w-4 h-4"
      viewBox="0 0 24 24"
    >
      <path d="M6 9l6 6 6-6"></path>
    </svg>
  </span>
</div>
